.Nav {
    display: flex;
    justify-content: end;
    align-items: center;
}

.Nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
    color: #707070;

}

.Nav ul li{
    cursor: pointer;
    margin: 10px;
}

.Nav ul img {
    width: 50px;
}